<% layout('/layouts/boilerplate') %>

<div class="row mt-3">
    <div class="col-8 offset-3">
        <h3 class="mb-4"><%= listing.title %></h3>
    </div>
</div>

<div class="row justify-content-center">
    <div class="card col-md-6 show-card">
        <img src="<%= listing.image.url %>" class="card-img-top show-img" alt="listing_image">

        <div class="card-body">
            <p class="card-text">Owned by: <i> <%= listing.owner.username %></i></p> <br>
            <p class="card-text">
                <%= listing.description %> <br>

                <b>Price:</b> &#8377; <%= listing.price ? listing.price.toLocaleString("en-IN") : "N/A" %> <br>
                <strong>Location:</strong> <%= listing.location %> <br>
                <strong>Country:</strong> <%= listing.country %> <br>
            </p>
        </div>
    </div>
</div>

<div class="row mt-4 justify-content-center">
  
    <% if(currUser && currUser._id.equals(listing.owner._id)) { %>
    <div class="col-md-6 d-flex justify-content-between">
        <a href="/listings/<%= listing._id %>/edit" class="btn btn-dark">Edit</a>
        <form method="POST" action="/listings/<%= listing._id %>?_method=DELETE">
            <button class="btn btn-danger">Delete</button>
        </form>
    </div>
    <% } %>  <!-- Fixed closing tag -->

    <div class="col-8 offset-3 mb-3">
        <hr>
        <h4>Leave a Review</h4>
        <form action="/listings/<%= listing._id %>/reviews" method="POST" class="needs-validation" novalidate>
            <div class="mb-3 mt-3">
                <label for="rating" class="form-label">Rating</label>
                <input type="range" min="1" max="5" id="rating" name="review[rating]" required>
                <div class="invalid-feedback">Please select a rating.</div>
            </div>
            <div class="mb-3 mt-3">
                <label for="comment" class="form-label">Comments</label>
                <textarea name="review[comment]" id="comment" cols="30" rows="5" class="form-control" required></textarea>
                <div class="invalid-feedback">Enter a valid comment.</div>
            </div>
            <button type="submit" class="btn btn-outline-dark">Submit</button>
        </form>
        <hr>
        <h4>All Reviews</h4>
        <% for(let review of listing.reviews) { %>
            <ul>
                <li> <%= review.comment %>, <%= review.rating %>/5  </li>
            </ul>
        <% } %>
    </div>
</div>

<script src="/js/script.js"></script>
